<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Mini Messageboard</a>
    <form method="post" action="/new">
        <label for="Name">Name: </label>
        <input type="text" id="name" name="name">
        <label for="message">Message: </label>
        <input type="text" id="message" name="message">
        <input type="submit" value="OK" />
    </form>
  </nav>